.App { margin: 0;
}

.App ul.menu{
  list-style: none;
  padding: 5px 5px 5px 15px; margin: 0;
  position: relative; background-color: #efefef; border-bottom: 2px solid #aaa;
  }
  .App ul.menu li { display:inline-block; margin: 15px 5px 0 0;
  }
  .App ul.menu li a{ text-decoration: none; color: #ccc;
  border: 2px solid #aaa; border-radius: 5px 5px 0 0; padding: 5px; background-color: white;
  }
  .App ul.menu li a:hover{ background-color: lightyellow;
  }
  .App ul.menu li a.active{ text-decoration: none;
  color: #666;
  border-bottom: 2px solid #fff;
  }
  .App .main{ padding: 15px;
  }
  .App .main h2{ color: #666;
  }
  .App .main button{ padding: 5px; margin: 5px;
  }
  .App .main button:hover{ background-color: whitesmoke; cursor: pointer;
  }
  table {
  border-collapse: collapse;
  width: 100%;
}
th {
background-color: #eee;
}
table, th, td {
  border: 1px solid #ddd;
  padding: 5px;
}
.center{
text-align: center;
}
form > label{ display: block; margin-top: 10px; font-size: 90%;
}
form > input, form > select{
  padding: 5px;
}